<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{ contact.name }}</h2>
    <div
      style="
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
      "
    >
      <img
        *ngIf="!(contact.imageUrl == ' ')"
        src="{{ contact.imageUrl }}"
        alt="{{ contact.name }}"
        class="img-responsive"
      />
      <div style="display: flex; gap: 10px">
        <button [routerLink]="['edit']" class="btn btn-primary">Edit</button>
        <button (click)="onDelete()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>
      <strong>Email: {{ contact.email }}</strong>
    </p>
    <p>
      <strong>Phone: {{ contact.phone }}</strong>
    </p>

    <p *ngIf="contact.group"><strong>Team:</strong></p>
    <div *ngFor="let groupContact of contact.group">
      <app-contact-item [contact]="groupContact"> </app-contact-item>
    </div>
  </div>
</div>
